/* hero*/

.hero {
    text-align: center;
    justify-content: center;
    max-width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--bgc-main);
    background-position: center;

    background-image: linear-gradient(
        to right, 
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ), url(../images/hero.jpg);
    
}

.hero-title {
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--primary-bg-color);
    letter-spacing: 0.06em;
    margin-bottom: 30px;
    padding-top: 200px;
}

/* button*/
.button {
    display: inline-block;
    align-items: center;
    text-align: center;
    padding: 10px 32px;
    min-width: 136px;

    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-radius: 4px;
}

/* features */

.feature {
    padding-bottom: 94px;
    padding-top: 94px;

}

.feature-items {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    
    /* outline: 10px solid violet; */
}

.feature-items .item {
    margin-left: 30px;
    flex-basis: calc(100% / 4 - 30px );
}

.feature-items .item::before {
    display: block;
    content: "";
    height: 120px;
    background-color: var(--bgc-accent);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}
 .item:nth-child(1)::before {
    background-image: url(../images/svg/antenna\ 1.svg);
 }

 .item:nth-child(2)::before {
    background-image: url(../images/svg/clock\ 1.svg);
 }

 .item:nth-child(3)::before {
    background-image: url(../images/svg/diagram\ 1.svg);
 }

 .item:nth-child(4)::before {
    background-image: url(../images/svg/astronaut\ 1.svg);
 }

/* 
.feature-items .item + .item {
    margin-left: 30px;
} */

.feature .title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.15;
    text-transform: uppercase;
}

.feature .title-text{
    margin-top: 0;
    margin-bottom: 0;
    color: var(--title-text-color);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
}

/* section */
.work {
    padding-bottom: 94px;
     
}

.work-title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    
    /* background-color: cadetblue; */
}

.work-items {
    display: flex;
    margin-left: -30px;
}

.work-items  .item {  
    margin-left: 30px;
    flex-basis: calc(100% / 3 - 30px );

}

/* comand */

.comand {
    background-color: var(--bgc-accent);
    padding-top: 94px;
    padding-bottom: 94px;
}

.comand-title {
    
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.comand-name {
    text-align: center;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    margin-bottom: 10px;
}

.comand-profesion {
    text-align: center;
    color: var(--title-text-color);
    font-weight: normal;
    font-size: 16px;
    line-height: 1.17;
}

.comand-group {
    display: flex;
    margin-left: -30px;   
}
/* .comand-group > .item:not(:last-child) {
     margin-right: 30px;
} */

.comand-group > .item {
    margin-left: 30px;
    flex-basis: calc(100% / 4 - 30px ); 
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.item .twiter {
    background-color: var(--accent-color);
    background-image: url(../images/clients/twitter.svg);
    width: 44px;
    height: 44px;
    color: transparent;

}

/* clients */

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

}

.clients-group {
    display: flex;
    margin-left: -30px;
    
}

.clients-group .item {
    /* display: inline-block; */
    width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
}

.clients-group > .item {
    margin-left: 30px;
    flex-basis: calc(100% / 6 - 30px );
}