/* portfolio */
.page-header {
    border-bottom: 1px solid #ECECEC ;
}

.button-items {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button.primary {
    margin-right: 8px;
    padding: 6px 22px;

    background-color: var(--bgc-accent);
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    border: none;
    border-radius: 4px;

    letter-spacing: 0.03em;
}


.button.primary:focus,
.button.primary:hover {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
}

.general-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
    
    /* outline: 1px solid greenyellow; */
}

.portfolio .title {
    margin: 0;
    padding: 0;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    
    /* outline: 1px solid green; */
   
}

.portfolio .text {
    margin: 0;
    padding: 0;
    color: var(--title-text-color);
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    
    /* outline: 1px solid blue; */
   
    
}

.portfolio .item {
    border: 1px solid #EEEEEE;
    flex-basis: calc(100% / 3 - 30px );
    margin-top: 30px;
    margin-left: 30px;
    
    /* outline: 1px solid red; */
}

.card-content {
    padding: 20px 24px;

    /* outline: 5px solid orange; */
}